body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    display: flex;

    /* 
        flex-direction: row;
        flex-direction: column;
        flex-direction: column-reverse; 
        flex-direction: row-reverse;
    */

    /*
        flex-wrap: wrap;
        flex-wrap: wrap-reverse;
        flex-wrap: no-wrap;
    */

    /** align items distributes space along the
        cross (secondary) axis, whilst justify-content distributes
        space along the main (primary) axis */

    /*
        align-items: flex-end;
        align-items: flex-start;
        align-items: center;
    */

    /** align-content distributes space along 
        multi line flexboxes. It has no effect when
        items are in a single line **/

    /* 
        align-content: space-around; 
        align-content: flex-start;
    */

    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;

    /** Justify content works on the main axis
        this is dependent on what we set out main 
        axis to using flex-direction **/

    /*
        justify-content: flex-start;
        justify-content: flex-end;
        justify-content: center;
        justify-content: space-between;
        justify-content: space-evenly;
        justify-content: space-around;
    */
}

#container div {
    /*
        align-self: center; 
        align-self: flex-end;
    */
    width: 200px;
    height: 200px;
    
    flex-basis: 400px; /* initial size of element */
    flex-grow: 1; /* the amount of space the element takes up if there is additional space */
    flex-shrink: .25;
}
